



.header {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo-left img {
  width: 220px;
  height: auto;
}

.divider {
  width: 6px;
  height: 150px;
  background-color: #005f86;
  border-radius: 3px;
}

.logo-right h1 {
  margin: 0;
  font-size: 96px;
  line-height: 1;
  color: #005f86;
}

.logo-right p {
  margin: 10px 0 0;
  font-size: 28px;
  font-weight: 700;
  color: #005f86;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #F2FBFF 50.05%, #0495C3 171.02%);
}

#root {
  min-height: 100vh;
}
button{
  width: 288px;
  height: 56px;
  color: #F2FBFF;
  background-color: #006383;
  top: 228px;
  left: 40px;
  opacity: 1;
  border-radius: 6px;
  padding: 10px;
  gap: 10px;
}
